/DeployHost/.vagrant/
/JenkinsMaster/.vagrant
/k8sCluster/.vagrant
JenkinsMaster/ubuntu-xenial-16.04-cloudimg-console.log
k8sCluster/ubuntu-xenial-16.04-cloudimg-console.log
JenkinsMaster/ubuntu-xenial-16.04-cloudimg-console.log
*.log
*.log
*.log
